<div *ngIf="isLoading">Loading profile...</div>

<div *ngIf="user" class="bg-white md:mx-auto rounded shadow-xl  overflow-hidden">
  <div class="h-[140px] bg-gradient-to-r from-primary to-primary-dark"></div>
  <div class="px-5 py-2 flex flex-col gap-3 pb-6">
    <div class="h-[90px] shadow-md w-[90px] rounded-full border-4 overflow-hidden -mt-14 border-white"><img
      src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
      class="w-full h-full rounded-full object-center object-cover"></div>
    <div class="">
      <h3 class="text-xl text-neutral-dark relative font-bold leading-6">{{ user.firstName }} {{ user.lastName }}</h3>
      <p class="text-sm text-gray-600"></p>
    </div>
    <div class="flex gap-3 flex-wrap">
      <span *ngIf="user?.isCollector" class="rounded-sm bg-yellow-100 px-3 py-1 text-xs font-medium text-secondary">Collector</span>
      <span *ngIf="!user?.isCollector" class="rounded-sm bg-green-100 px-3 py-1 text-xs font-medium text-primary-dark">Client</span>
    </div>
    <div class="flex gap-2">
      <button type="button"
              class="inline-flex w-auto cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-800 transition hover:border-gray-300 active:bg-white hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300">
        Send Message
      </button>
      <button type="button"
              class="inline-flex w-auto cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-primary-dark px-3 py-2 text-sm font-medium text-neutral-light transition hover:border-blue-300 hover:bg-blue-600 active:bg-blue-700 focus:blue-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-300">
        Add to projects
      </button>
    </div>
    <h4 class="text-md font-medium leading-3">About</h4>
    <p class="text-sm text-stone-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere dolores aliquid
      sequi sunt iusto ipsum earum natus omnis asperiores architecto praesentium dignissimos pariatur, ipsa cum?
      Voluptate vero eius at voluptas?</p>
    <div class="bg-white overflow-hidden shadow rounded-lg border">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          User Profile
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          This is some information about the user.
        </p>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Full name
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ user.firstName }}{{ user.lastName }}
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Email address
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ user.email }}
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Phone number
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ user.phone }}
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Address
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ user.address.street }}
              <br>
              {{ user.address.city }} {{ user.address.postalCode }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
